<footer class="footer-bg">
  <div class="footer container">

    <div class="footer-follow btn-sm">
      <p>Siga a gente e leve a estratégia, a diversão e a nostalgia dos board games para o seu feed 🎲✨</p>
      <div class="footer-follow-redes">
        <a href="https://www.instagram.com/thelast_update?igsh=eGU0enZsd2J1MG54"><img src="../assets/img/redes/instagram.svg" alt="Instagram"></a>
        <a href="https://youtube.com/@thelastupdateofc?si=EapEql9sLpdy9u6l"><img src="../assets/img/redes/youtube.svg" alt="Youtube"></a>
        <a href="https://www.tiktok.com/@thelast_update?is_from_webapp=1&sender_device=pc"><img src="../assets/img/redes/tiktok.svg" alt="TikTok"></a>
      </div>

      <div class="divisor"></div>

      <div class="footer-follow-contact">
        <p class="btn-sm">Contato:</p>
        <a href="mailto:thelastupdatepa7@gmail.com">thelastupdatepa7@gmail.com</a>
      </div>
    </div>

    <div class="footer-logo">
      <img class="tlu-logo" src="../assets/img/logo/tlu-logo.svg" data-dark="../assets/img/logo/tlu-logo.svg" data-light="../assets/img/logo/tlu-logo-dark.svg" alt="Logo The Last Update">
    </div>

    <div class="footer-police btn-sm">
      <p>© 2025 The Last Update. Todos os direitos reservados.</p>
      <a href="/politicas">Política de Privacidade</a>
      <a href="/condicoes">Termos e Condições de Uso</a>

      <div class="divisor"></div>

      <div class="footer-news-Jorn-Area">
        <p>Área do Jornalista</p>
        <a href="/login">Fazer Login</a>
      </div>
    </div>

  </div>
</footer>